---
BasedOnStyle: Google
# BasedOnStyle:  LLVM

Language:     Cpp
Standard:     c++20


PackConstructorInitializers: NextLineOnly
ColumnLimit:     110
SortIncludes:    CaseSensitive

IncludeBlocks:   Regroup
IndentAccessModifiers: false
IndentCaseBlocks: true
IndentCaseLabels: true
IndentExternBlock: AfterExternBlock
IndentGotoLabels: true
IndentPPDirectives: None
RequiresClausePosition: OwnLine
IndentRequiresClause: true
IndentWidth:     2
IndentWrappedFunctionNames: true
ReflowComments:  true
LambdaBodyIndentation: Signature
Cpp11BracedListStyle: true
NamespaceIndentation: All

SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpacesBeforeTrailingComments: 2

SpacesInLineCommentPrefix:
  Minimum: 1

IntegerLiteralSeparator:
  Binary:          0
  BinaryMinDigits: 0
  Decimal:         0
  DecimalMinDigits: 0
  Hex:             0
  HexMinDigits:    0

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveDeclarations: true
AlignEscapedNewlinesLeft: true
AlignOperands:   false
AlignTrailingComments: true

AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: true
BreakBeforeInheritanceComma: false
BreakConstructorInitializersBeforeComma: true
BreakStringLiterals: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true

CommentPragmas:  '^ IWYU pragma:'
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
DerivePointerAlignment: false
DisableFormat:   false
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments : true
IncludeCategories: 
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
IncludeIsMainRegex: '$'
KeepEmptyLinesAtTheStartOfBlocks: true

MaxEmptyLinesToKeep: 1
PointerAlignment: Left 
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceInEmptyParentheses: false
SpacesInAngles:  false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
UseTab:          Never