[submodule "external/tbb"]
	path = external/tbb
	url = https://github.com/oneapi-src/oneTBB.git
	tag = v2022.0.0
[submodule "external/nanobind"]
	path = external/nanobind
	url = https://github.com/wjakob/nanobind
