#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
# export DEB_CMAKE_EXTRA_FLAGS = -DCMAKE_BUILD_TYPE=Release
export DEB_CMAKE_EXTRA_FLAGS = -DCMAKE_BUILD_TYPE=Release -Dasan=OFF -DBUILD_PYTHON=OFF -DLZ_APP=OFF -DLZ_DISTANCE=ON  -DLZ_PARALLEL_BACKEND=TBB -DBUILTIN_TBB=OFF

%:
	dh $@ --buildsystem=cmake --parallel

override_dh_auto_configure:
	dh_auto_configure -- $(DEB_CMAKE_EXTRA_FLAGS)

override_dh_auto_test:
	# Disable if you have no tests
	# dh_auto_test
	true
